/*內容往左調*/
.col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 19%;
}
#anxiety{
    position:relative;
    left:30%;
    width:40%;
    height:auto;
  }
  /*開頭問題*/
  #title {
    left:10%;
    width: 80%;
    margin: px;
    padding: 25px;
    line-height: 1.45;
    position: relative;
    color: #000000;
    border-left: 5px solid #F8DF08;
    background: #ffffff;
    font-size: 16px;
  }
  #title2 {
    left:40%;
    position:relative;
    width: 50%;
    margin: px;
    padding: 25px;
    line-height: 1.45;
  
    color: #000000;
    border-left: 5px solid #F8DF08;
    background: #ffffff;
    font-size: 16px;
  }
  #diagnose{
   
    position: relative;;
    left:40%;
    border-left: 5px solid white;
    padding: 15px;
    line-height: 1.2;
  }

  #d_p{
    background: url('/d_p.png')  ;
      background-repeat: no-repeat;
      background-position: 25% ;
      background-size: 15%;
      
  }
  #list li{
 
    margin: 0;
    padding-top:15px;
    padding-bottom:15px;
  padding-left:5vh;
  padding-right:5vh;
    list-style: none;
    
      background: url('/depression/d_p.png')  ;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 4vh;
  }
  /*v.s*/
  .card-body{
    text-align:center;
  }
  .card-title{
    padding-top:2vh;
    color:#996699;
    font-weight:bold;
  }
  .card-deck{
    width:95%;
    padding-left:60px;
  }
  #ex{
    border-left: 5px solid #F8DF08;
    padding: 15px;
    
  }
  #note{
    color:#666666;
  }
  
  #card{
    width:70%;
    left:20%;
  }
  .tab-pane{
    padding-left:2vh;
  }
  #heart{
    padding-left:2vh;
  }
  #card .active{
    color:black;
    background-color:white;
  }
  .list-group-item{
    text-align:center;
  }
  #content{
    padding-top:10vh;
    
  }
  .center{
    text-align:center;
  }
  .left{
    text-align:left;
  }
  ul.nav-pills {
      top: 13vh;
      position: fixed;
    }
  
   #about .child{
    width:10px;
    height:auto;
  }
  #line{
    margin:6vh;
  }
  #depress{
    position:relative;
    left:24%;
    width:40%;
    height:auto;
  }

body{
    position: relative;
}
/*放圖*/
/*
#nervous{
  
  background: url('/anxiety/nervous.png')  ;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14vh;
}*/
#anxiety{
  position:relative;
  left:30%;
  width:40%;
  height:auto;
}
#sick{
  position:relative;
  
  width:40%;
  height:auto;
}
#social{
  position:relative;
  left:30%;
  width:40%;
  height:auto;
}
#sleep{
  position:relative;
  
  width:40%;
  height:auto;
}
#alert{
  
  background: url('/anxiety/alert.png')  ;
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: 11%;
}
#cry{
  background: url('/anxiety/cry.png')  ;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14vh;
}
#warning{
  background: url('/anxiety/warning.png')  ;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 10%;
}


