.face{
    position:relative;
   
   padding-left:60%;
    margin-top:10%;
   
}
#index{
  
   position:absolute;
   width: 30%;
   height:auto;
}

#word{
    position:absolute;
    margin-left:1%;
    margin-top:10%;
    width: 40%;
    height:auto;
}


/*hover樣子*/ 
