body{
    font-family: 微軟正黑體,simsun, Comic Sans MS;
    
    background-image:url("logo.png");
    background-size: cover;
    height:auto; max-height:100%; max-width:100%; width:auto;

}
#index{
    
    margin-left:14%;
    margin-top:8%;
    width: 30%;
    height:auto;
    
}
#word{
    margin-left:1%;
    margin-top:10%;
    width: 40%;
    height:auto;
}


/*hover樣子*/ 
