<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <% include ../layout/header %>
        <title>你只是心生病了</title>
        <link rel="stylesheet" type="text/css" href="/depression/style.css" />

</head>

<body data-spy="scroll" data-target="#content" id="text">
    <header>
        <% include ../layout/navbar %>
    </header>
        
    <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-3 col-2 " id="content">
                    <ul class=" nav nav-pills flex-column">
    
                        <li class="nav-item " id="li" style="padding-top:8vh;">
                            <button>
                                <a class="nav-link " href="#action" id="c">1</a>
                            </button>
                            <a href="#action">
                                <span></span>核心特徵
                            </a>
    
                        </li>
    
                        <li class="nav-item" id="li">
                            <button>
                                <a class="nav-link" href="#dsm" id="c">2</a>
                            </button>
                            <a href="#dsm">
                                <span></span>DSM-5診斷
                            </a>
                        </li>
                        <li class="nav-item" id="li">
                            <button>
                                <a class="nav-link" href="#treat" id="c">3</a>
                            </button>
                            <a href="#treat">
                                <span></span>治療方法
                            </a>
                        </li>
                    </ul>
                </nav>
    
                <div class="col-sm-9 col-8">
                    <h3>抑鬱症</h3>
                    <h4 id="action">核心特徵</h4>
                    <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                    <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                    <p>對幾乎所有活動喪失興趣和愉快感</p>
                    <p> 體重或食欲明顯地增加或減少（5%）</p>
                    <p>睡眠障礙：失眠、嗜睡</p>
                    <p>精神運動性激越或遲緩</p>
                    <p>疲倦乏力、缺乏精力</p>
                    <p>無價值感或過分的內疚，負罪感</p>
                    <p>注意力和思考力下降，猶豫不決</p>
                    <p>自殺念慮與自殺行為</p>
                    <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                    <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                    <p>對幾乎所有活動喪失興趣和愉快感</p>
                    <p> 體重或食欲明顯地增加或減少（5%）</p>
                    <p>睡眠障礙：失眠、嗜睡</p>
                    <p>精神運動性激越或遲緩</p>
                    <p>疲倦乏力、缺乏精力</p>
                    <p>無價值感或過分的內疚，負罪感</p>
                    <p>注意力和思考力下降，猶豫不決</p>
                    <p>自殺念慮與自殺行為</p><p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                    <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                    <p>對幾乎所有活動喪失興趣和愉快感</p>
                    <p> 體重或食欲明顯地增加或減少（5%）</p>
                    <p>睡眠障礙：失眠、嗜睡</p>
                    <p>精神運動性激越或遲緩</p>
                    <p>疲倦乏力、缺乏精力</p>
                    <p>無價值感或過分的內疚，負罪感</p>
                    <p>注意力和思考力下降，猶豫不決</p>
                    <p>自殺念慮與自殺行為</p>
                    <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                    <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                    <p>對幾乎所有活動喪失興趣和愉快感</p>
                    <p> 體重或食欲明顯地增加或減少（5%）</p>
                    <p>睡眠障礙：失眠、嗜睡</p>
                    <p>精神運動性激越或遲緩</p>
                    <p>疲倦乏力、缺乏精力</p>
                    <p>無價值感或過分的內疚，負罪感</p>
                    <p>注意力和思考力下降，猶豫不決</p>
                    <p>自殺念慮與自殺行為</p>
    
                    <h4 id="dsm">DSM-5診斷</h4>
                    <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                    <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                    <p>對幾乎所有活動喪失興趣和愉快感</p>
                    <p> 體重或食欲明顯地增加或減少（5%）</p>
                    <p>睡眠障礙：失眠、嗜睡</p>
                    <p>精神運動性激越或遲緩</p>
                    <p>疲倦乏力、缺乏精力</p>
                    <p>無價值感或過分的內疚，負罪感</p>
                    <p>注意力和思考力下降，猶豫不決</p>
                    <p>自殺念慮與自殺行為</p>
                    <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                    <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                    <p>對幾乎所有活動喪失興趣和愉快感</p>
                    <p> 體重或食欲明顯地增加或減少（5%）</p>
                    <p>睡眠障礙：失眠、嗜睡</p>
                    <p>精神運動性激越或遲緩</p>
                    <p>疲倦乏力、缺乏精力</p>
                    <p>無價值感或過分的內疚，負罪感</p>
                    <p>注意力和思考力下降，猶豫不決</p>
                    <p>自殺念慮與自殺行為</p>
    
                    <h4 id="treat">治療方法</h4>
                    <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                    <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                    <p>對幾乎所有活動喪失興趣和愉快感</p>
                    <p> 體重或食欲明顯地增加或減少（5%）</p>
                    <p>睡眠障礙：失眠、嗜睡</p>
                    <p>精神運動性激越或遲緩</p>
                    <p>疲倦乏力、缺乏精力</p>
                    <p>無價值感或過分的內疚，負罪感</p>
                    <p>注意力和思考力下降，猶豫不決</p>
                    <p>自殺念慮與自殺行為</p>
                    <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                    <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                    <p>對幾乎所有活動喪失興趣和愉快感</p>
                    <p> 體重或食欲明顯地增加或減少（5%）</p>
                    <p>睡眠障礙：失眠、嗜睡</p>
                    <p>精神運動性激越或遲緩</p>
                    <p>疲倦乏力、缺乏精力</p>
                    <p>無價值感或過分的內疚，負罪感</p>
                    <p>注意力和思考力下降，猶豫不決</p>
                    <p>自殺念慮與自殺行為</p>
                </div>
            </div>
        </div>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
    <% include js %>
</body>

</html>