<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <% include ../layout/header %>
        <title>你只是心生病了</title>
        <link rel="stylesheet" type="text/css" href="/depression/style.css" />

</head>

<body data-spy="scroll" data-target="#content" id="text">
    <header>
        <% include ../layout/navbar %>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-2 " id="content">
                <ul class=" nav nav-pills flex-column">

                    <li class="nav-item " id="li" style="padding-top:8vh;">
                        <button>
                            <a class="nav-link " href="#action" id="c">1</a>
                        </button>
                        <a href="#action">
                            <span></span>核心特徵
                        </a>

                    </li>

                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#dsm" id="c">2</a>
                        </button>
                        <a href="#dsm">
                            <span></span>DSM-5診斷
                        </a>
                    </li>
                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#treat" id="c">3</a>
                        </button>
                        <a href="#treat">
                            <span></span>治療方法
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="col-sm-9 col-8" id="content2">


                <blockquote id="title" class="left">
                    <h3 id="top">抑鬱症</h3>
                    <p>我不開心，是不是就是抑鬱症了?</p>
                </blockquote>
                <p id="line"></p>
                <p>不一定喔，抑鬱並不只是心情不好，但若你已經長期持續心情不好2周以上，或許就有可能了。</p>
                <p id="line"></p>
                <h4 id="action">
                    <strong>抑鬱的核心特徵</strong>
                </h4>
                <p id="line"></p>
                <img src="/depression/depressed.jpg" id="depress">
                <p id="line"></p>
                <p>簡單來說，心境抑鬱，無法感受快樂</p>
                <p>常常會伴隨著焦慮(常見)、身體有莫名症狀(胸悶、無法順暢呼吸、心悸、頭痛、胃痛、全身無力痠痛)</p>
                <p>以及，易激怒、食欲下降、睡眠問題、能量比較低、反應變慢、覺得自己沒有價值、經常想到自殺、難以專注等症狀</p>
                <p>最重要的</p>
                <p>這些症狀會維持兩周以上</p>
                <p id="line"></p>
                <div class="card border-secondary mb-3" id="detail" style="max-width: 38rem;">
                        <div class="card-header">其他類型的抑鬱症</div>
                        <div class="card-body text-sucondary">
                            <h5 class="card-title"><img src="/depression/time.png" id="time">持續抑鬱</h5>
                            <p class="card-text">
                                <p>特徵為須持續兩年以上</p>
                            </p>
                            <h5 class="card-title"><img src="/depression/girl.png" id="girl">經前抑鬱</h5>
                            <p class="card-text">
                                <p>女性在月經的前一周變得抑鬱、易激怒、焦慮，哭點特別低</p>
                                <p>常常感覺疲勞，且身體常有莫名疼痛</p>
                            </p>
                        </div>
                    </div>

                <h4 id="dsm">
                    <strong>DSM-5診斷</strong>
                </h4>
                <p id="line"></p>
                <p>抑鬱患者在DSM-5診斷標準中須符合的條件為:</p>
                <p id="line"></p>
                <div id="d_p">
                    <div id="diagnose" class="left">
                        <p>下列症狀中，至少有5種，其中必須有1或2</p>
                        <p>且須至少持續2周</p>
                    </div>
                </div>
                <p id="line"></p>
                <p>1.&nbsp;情緒低沉，心境抑鬱（未成年人可能是易激惹)&nbsp;&nbsp;2.&nbsp;對幾乎所有活動喪失興趣和愉快感</p>
                <p>3.&nbsp;體重或食欲明顯地增加或減少（5%）&nbsp;&nbsp;4.&nbsp;睡眠障礙：失眠、嗜睡</p>
                <p>5.&nbsp;精神運動性激越或遲緩&nbsp;&nbsp; 6.&nbsp;疲倦乏力、缺乏精力 &nbsp;&nbsp;7.&nbsp;無價值感或過分的內疚，負罪感</p>
                <p>8.&nbsp;注意力和思考力下降，猶豫不決 &nbsp;&nbsp;9.&nbsp;自殺念慮與自殺行為</p>
                <p id="line"></p>
                <h4 id="note"><strong>抑鬱&nbsp;&nbsp;v.s&nbsp;&nbsp;悲痛</strong></h4>
                <p id="line"></p>
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <img src="/depression/insomnia.png" class="card-img-top"id="insomnia">
                            <h5 class="card-title">抑鬱</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">持續的抑鬱心境</li>
                            <li class="list-group-item">不與特定的想法或擔憂相關</li>
                            <li class="list-group-item">感受不到幸福和快樂</li>
                            <li class="list-group-item">常常陷入自責、悲觀的沉思</li>
                            <li class="list-group-item">覺得自己沒有價值，甚至會自我憎恨</li>
                        </ul>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <img src="/depression/sad.png" class="card-img-top" id="sad">
                            <h5 class="card-title">悲痛</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">感覺空虛、失去甚麼</li>
                            <li class="list-group-item">難過情緒隨時間減弱，且呈波浪狀</li>
                            <li class="list-group-item">是為了特定事件悲痛</li>
                            <li class="list-group-item">還是可以感受到正向情緒</li>
                            <li class="list-group-item">對自己仍有自信和自尊</li>
                        </ul>
                    </div>

                </div>
                <p id="line"></p>
                <h4 id="treat">
                    <strong>治療方法</strong>
                </h4>
                <p id="line"></p>
                <img src="/depression/doctor.jpg" id="doctor">
                <p id="line"></p>
                <p>長期的抑鬱症容易產生共病</p>
                <p>共病的類型包刮驚恐、強迫症、邊緣性人格、神經性厭食暴食等</p>
                <p>且抑鬱症患者自殺的比例極高</p>
                <p>所以若可越提早治療會幫助越大</p>
                <p id="line"></p>
                <p>治療方式主要分成兩種</p>
                <p>1. 藥物治療</p>
                <p>2. 心理治療</p>
                <p id="line"></p>
                <div class="card" id="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#medicine" class="nav-link active " id="u" role="tab">藥物治療</a>
                            </li>
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#heart" class="nav-link " id="u" role="tab">心理治療</a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="medicine" class="tab-pane fade show active " role="tabpanel">
                            <h5 class="card-title">抗抑鬱藥物</h5>
                            <p class="card-text">
                                <p>主要有三環類和SSRI兩類</p>
                                <p>兩者的效果差不多，但SSRI的副作用較小</p>
                                <blockquote id="ex" class="left">
                                    <h6>常用抗抑鬱藥副作用</h6>
                                    <p>口腔乾燥、體重增加、噁心、腹脹、震 顫、胸痛、咽痛、脫髮、胃腸不調、困倦、嗜睡、疲勞、頭痛、不眠、耳鳴、頭暈 、便秘、拉肚子、燥熱、盜汗、倦怠感等</p>
                                </blockquote>
                                <p>對於較嚴重的抑鬱患者，藥物治療比心理治療有效</p>
                                <p>主要使用在症狀的急性期和恢復期</p>

                            </p>

                        </div>
                        <div id="heart" class="tab-pane fade  " role="tabpanel">
                            <h5 class="card-title">認知干預治療</h5>
                            <p class="card-text">
                                <p>1.教育:讓個案了解認知、行為、情緒之間的關係</p>
                                <p>2.任務安排:增加個案活動力，向參與社交活動獲得支持，或完成任務獲得自信及自我掌控</p>
                                <p>3.認知練習:形成並刻意練習一些正向認知，干預過去的錯誤認知</p>
                                <p>4.假設檢驗:個案有意識去檢驗自己消極假設的可能性，進而去否定</p>
                                <blockquote id="ex" class="left">
                                    <h6>認知干預可有效解決自殺動機</h6>
                                    <p>類似:不想成為他人負擔、無法預見未來有希望、否定自我存在價值等</p>
                                </blockquote>
                                <p>此外，正向的生活習慣也會有幫助</p>
                                <p>像是規律運動、健康飲食、參加支持性團體、正向社交等</p>

                            </p>

                        </div>


                    </div>
                </div>
                <p id="line"></p>
                <p id="bottom"></p>
                <p>研究顯示，在16周的治療結束後，兩者的效果基本相當</p>
                <p>但若可以雙管齊下，效果會最佳</p>
                <p id="line"></p>
                <img src="/depression/cry.jpg" id="cry">
                <p id="line"></p>
                <p>若你最近也感覺不開心，看完這篇後有共鳴</p>
                <p>這裡也有官方量表，可以先填填看，評估看看狀況</p>

                <p>但量表畢竟是死的，如果真的很不舒服，一定要去求助醫生、張老師專線、諮商師等</p>
                <p>患得抑鬱症不是你的錯，我相信你已經很努力生活了</p>
                <p>要相信，這一切總會過的</p>
                <a href="http://www.apesk.com/sds/" class="btn btn-primary">SDS量表</a>

                <p id="line"></p>

            </div>






            <% include ../layout/scrollbar %>

        </div>
    </div>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
        <% include js %>
</body>

</html>