<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <% include ../layout/header %>
        <title>你只是心生病了</title>
        <link rel="stylesheet" type="text/css" href="/depression/style.css" />

</head>

<body data-spy="scroll" data-target="#content" id="text">
    <header>
        <% include ../layout/navbar %>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-2 " id="content">
                <ul class=" nav nav-pills flex-column">

                    <li class="nav-item " id="li" style="padding-top:8vh;">
                        <button>
                            <a class="nav-link " href="#action" id="c">1</a>
                        </button>
                        <a href="#action">
                            <span></span>核心特徵
                        </a>

                    </li>

                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#dsm" id="c">2</a>
                        </button>
                        <a href="#dsm">
                            <span></span>DSM-5診斷
                        </a>
                    </li>
                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#treat" id="c">3</a>
                        </button>
                        <a href="#treat">
                            <span></span>治療方法
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="col-sm-9 col-8" id="content">


                <blockquote>
                    <h3 id="top">抑鬱症</h3>
                    <p>我不開心，是不是就是抑鬱症了?</p>
                </blockquote>
                <p id="line"></p>
                <p>不一定喔，抑鬱並不只是心情不好，但若你已經長期持續心情不好2周以上，或許就有可能了。</p>
                <p id="line"></p>                
                <h4 id="action">抑鬱的核心特徵</h4>
                <p id="line"></p>
                <img src="/depression/depressed.jpg" id="depress"> 
                <p id="line"></p>    
                <p>簡單來說，心境抑鬱，就是喪失興趣或愉悅感</p>
                <p>而且常常會伴隨著，</p>
                <p>食欲下降或增加、睡眠問題、感到焦躁不安、能量比較低、覺得自己沒有價值、經常想到自殺、難以專注等症狀</p>
                <p>最重要的</p>
                <p>這些症狀會維持兩周以上</p>
                <p id="line"></p>
                <p>以上是抑鬱患者普遍會有的感受</p>
                <p>但是抑鬱又有分為很多種</p>
                <p>除了一般我們比較熟悉的重性抑鬱</p>
                <p>還有持續抑鬱，他最大的特徵為須持續兩年以上</p>
                <p>以及女性最困擾的經前抑鬱</p>
                <p>會在月經的前一周變得抑鬱、易激怒、焦慮，哭點特別低，常常感覺疲勞，且身體常有莫名疼痛</p>
                <p id="line"></p>
                <p>以上都是各類型抑鬱患者的核心特徵</p>
                <p id="line"></p>

                <h4 id="dsm">DSM-5診斷</h4>
                <p id="line"></p>
                <p>抑鬱在DSM-5診斷標準中須符合的條件為:</p>
                <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                <p>對幾乎所有活動喪失興趣和愉快感</p>
                <p> 體重或食欲明顯地增加或減少（5%）</p>
                <p>睡眠障礙：失眠、嗜睡</p>
                <p>精神運動性激越或遲緩</p>
                <p>疲倦乏力、缺乏精力</p>
                <p>無價值感或過分的內疚，負罪感</p>
                <p>注意力和思考力下降，猶豫不決</p>
                <p>自殺念慮與自殺行為</p>
                <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                <p>對幾乎所有活動喪失興趣和愉快感</p>
                <p> 體重或食欲明顯地增加或減少（5%）</p>
                <p>睡眠障礙：失眠、嗜睡</p>
                <p>精神運動性激越或遲緩</p>
                <p>疲倦乏力、缺乏精力</p>
                <p>無價值感或過分的內疚，負罪感</p>
                <p>注意力和思考力下降，猶豫不決</p>
                <p>自殺念慮與自殺行為</p>

                <h4 id="treat">治療方法</h4>
                <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                <p>對幾乎所有活動喪失興趣和愉快感</p>
                <p> 體重或食欲明顯地增加或減少（5%）</p>
                <p>睡眠障礙：失眠、嗜睡</p>
                <p>精神運動性激越或遲緩</p>
                <p>疲倦乏力、缺乏精力</p>
                <p>無價值感或過分的內疚，負罪感</p>
                <p>注意力和思考力下降，猶豫不決</p>
                <p>自殺念慮與自殺行為</p>
                <p>下列症狀中，至少有5種至少持續2周,其中有1或2</p>
                <p>情緒低沉，心境抑鬱（未成年人可能是易激惹）</p>
                <p>對幾乎所有活動喪失興趣和愉快感</p>
                <p> 體重或食欲明顯地增加或減少（5%）</p>
                <p>睡眠障礙：失眠、嗜睡</p>
                <p>精神運動性激越或遲緩</p>
                <p>疲倦乏力、缺乏精力</p>
                <p>無價值感或過分的內疚，負罪感</p>
                <p>注意力和思考力下降，猶豫不決</p>
                <p id="bottom">自殺念慮與自殺行為</p>

            </div>






            <% include ../layout/scrollbar %>

        </div>
    </div>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
        <% include js %>
</body>

</html>