<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <% include ../layout/header %>
        <title>你只是心生病了</title>
        <link rel="stylesheet" type="text/css" href="index/style.css" />

</head>

<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main style='width:98%; margin:auto ;'>

        <div>
            <img src="index/word2.png" id="word">
            <div class="face">
                <img src="index/face.png" id="index">
                <img src="index/section1.png" id="index">
                <img src="index/section2.png" id="index">
                <img src="index/section3.png" id="index">
                <img src="index/section4.png" id="index">
            </div>
            <!-- 大腦 -->
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
</body>


</html>