
   <!DOCTYPE html>
   <html  lang="zh-Hant-TW">
       <head> 
           <title>todo list</title>
           <meta charset="UTF-8">
           <link rel="stylesheet" type="text/css" href="style.css" />
           <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
           <link href="https://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
           <script src="https://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
       </head>
       <body style='width:98%; margin:auto ;'>
           
           <div class='todo-form ' style='padding:10px'>
                   
               <h1 class=" text-white ">TO-DO</h1>
               <div style='padding:1%'></div>
               <div class="input-group mb-3">
                   <input type="text" class="form-control" placeholder="還有什麼事要做呢" id="input-text">
                   <div class="input-group-append">
                       <button class="  btn btn-outline-secondary" type=" submit" id="input-button">新增</button>
                   </div>
               </div>
          
           </div>
           
           <div id='add-text'>
           </div>
   
       </body>
   
   
   </html> 