<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <% include ../layout/header %>
        <title>你只是心生病了</title>
        <link rel="stylesheet" type="text/css" href="index/style.css" />

</head>

<body>
    <header>
        <% include ../layout/navbar %>
    </header>
    <main style='width:98%; margin:auto ;'>

        <div>
            <img src="index/word2.png" id="word">
             <!-- 大腦 -->
            <div class="totalface">
                <img src="index/face.png" id="face">
                <a href="/depression">
                    <img src="index/section1.png" class="child" id="s1">
                </a>
                <a href="/anxiety">
                    <img src="index/section2.png" class="child" id="s2">
                </a>
                <a href="/mad">
                    <img src="index/section3.png" class="child" id="s3">
                </a>
                <a href="/food">
                    <img src="index/section4.png" class="child" id="s4">
                </a>
            </div>
            <a href="https://github.com/ruby2800/psychology">
                <img src="index/github.png" class="child" id="github">
            </a>
           
        </div>
    </main>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
</body>


</html>