<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <% include ../layout/header %>
        <title>你只是心生病了</title>
        <link rel="stylesheet" type="text/css" href="/food/style.css" />

</head>

<body data-spy="scroll" data-target="#content" id="text">
    <header>
        <% include ../layout/navbar %>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-2 " id="content">
                <ul class=" nav nav-pills flex-column">

                    <li class="nav-item " id="li" style="padding-top:8vh;">
                        <button>
                            <a class="nav-link" href="#action" id="c">1</a>
                        </button>
                        <a href="#action">
                            <span></span>核心特徵
                        </a>

                    </li>

                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#dsm" id="c">2</a>
                        </button>
                        <a href="#dsm">
                            <span></span>DSM-5診斷
                        </a>
                    </li>
                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#treat" id="c">3</a>
                        </button>
                        <a href="#treat">
                            <span></span>治療方法
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="col-sm-9 col-8" id="content2">
                <blockquote id="title" class="left">
                    <h3 id="top">飲食失調症</h3>
                    <p>我覺得自己好胖，根本不敢吃東西</p>
                    <p>即使吃了就會把它吐出來，為甚麼自己這麼胖?</p>
                </blockquote>
                <p id="line"></p>
                <p>相信我，你一點都不胖，你很瘦了，你應該只是得了厭食症</p>
                <p id="line"></p>
                <h4 id="action">
                    <strong>厭食貪食症的核心特徵</strong>
                </h4>
                <p id="line"></p>
                <img src="/food/food.jpg" id="food">
                <p id="line"></p>
                <p>進食障礙中有很多類型，但最普遍的還是神經性厭食及神經性暴食症</p>
                <p id="line"></p>
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <img src="/food/slim.png" id="slim">
                            <h5 class="card-title">神經性厭食</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">強烈的擔心自己變胖</li>
                            <li class="list-group-item">即使外界說他瘦都覺得自己很胖</li>
                            <li class="list-group-item">常見於女性，在14-19歲是發病高峰期</li>
                            <li class="list-group-item">常伴隨焦慮、驚恐、強迫症</li>
                        </ul>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <img src="/food/vomit.png" id="vomit">
                            <h5 class="card-title">神經性貪食</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">反覆的過量飲食</li>
                            <li class="list-group-item">進食後就不正常的代償行為(催吐)以防止變胖</li>
                            <li class="list-group-item">依照代償行為評估嚴重度</li>
                            <li class="list-group-item">它比神經性厭食更普遍</li>
                        </ul>
                    </div>
                </div>
                <p id="line"></p>
                <p>此外，還有較少見的暴食症</p>
                <p id="line"></p>
                <div id="eat">
                    <blockquote class="left" id="diagnose">
                        <h5>暴食症</h5>
                        <div id="note">
                            <P>短期內大量進食，幾乎獨自進食</P>
                            <p>每周至少一次暴食，持續至少3個月</p>
                            <p>和神經性暴食不同，它沒有代償行為(催吐)</p>
                        </div>
                    </blockquote>
                </div>
                <p id="line"></p>
                <p>厭食和貪食症患者都極度在意體重，且厭食症患者有食也會出現貪食狀況</p>



                <p id="line"></p>


                <h4 id="dsm">
                    <strong>厭食貪食症的DSM-5診斷</strong>
                </h4>
                <p id="line"></p>
                <p>神經性厭食在DSM-5診斷標準中的介紹為:</p>

                <p id="line"></p>
                <div id="d_p">
                    <div id="diagnose" class="left">
                        <p>有3點診斷標準</p>
                    </div>
                </div>
                <p id="line"></p>
                <div>
                    <p>1.&nbsp;有意識保持體重低於標準體重的最低值</p>
                    <p>2.&nbsp;即使屬於低體重，仍強烈害怕體重增加或變胖</p>
                    <p>3.&nbsp;對自己的體重或體型有不正確的自我評價，客觀證據證明體重已低於標準體重，患者仍認為自己太胖</p>
                </div>
                <p id="line"></p>
                <img src="/food/ill.jpg" id="ill">
                <p id="line"></p>
                <div class="card border-secondary mb-3" id="detail" style="max-width: 38rem;">
                    <div class="card-header">厭食導致的身體狀況</div>
                    <div class="card-body text-sucondary">
                        <h5 class="card-title">患者不正常減肥的後果(吃很少、過度運動、瀉藥等)</h5>
                        <p class="card-text">
                            <p>低體溫、停經、心跳過快、肝功能衰竭、頭髮乾枯、白血球減少...</p>
                            <p>由於常吐胃酸，導致牙齒腐蝕脫落</p>
                            <p>皮膚也因長期低體溫長出絨毛</p>
                            <p>精神上很容易疲憊、抑鬱</p>
                            <p>此外，因為蛋白質不足，心肌無力，心臟變小，可能會突然死亡</p>
                        </p>
                    </div>
                </div>
                <p id="line"></p>
                <p>關於厭食症的原因，除了從精神分析或認知的角度外，還跟家庭與社會文化相關</p>
                <p id="line"></p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <div id="family">
                            <blockquote id="diagnose" class="left">
                                <h5>家庭角度</h5>
                                <P>研究證明厭食症患者的家庭成員多患有心身疾病</p>
                                <p>這導致家庭糾紛多，病患缺乏獨立性和喜歡迴避衝突</p>
                                <p>因此會靠進食控制來獲得控制感和安全感</p>
                            </blockquote>
                        </div>
                    </li>
                    <li class="list-inline-item" >
                        <div id="society">
                            <blockquote id="diagnose" class="left">
                                <h5>社會文化角度</h5>
                                <P>社會認為女性苗條才是美，且易因為外表而受到差別待遇</p>
                            </blockquote>
                        </div>
                    </li>
                </ul>
                <p id="line"></p>
                <p>神經性貪食在DSM-5診斷標準中的介紹為:</p>

                <p id="line"></p>
                <div id="d_p">
                    <div id="diagnose" class="left">
                        <p>有5點診斷標準</p>
                    </div>
                </div>
                <p id="line"></p>
                <div>
                    <p>1.&nbsp;反復發作的暴食，一次可進食大量食物</p>
                    <p>2.&nbsp;常採取引吐、導瀉、利尿、節食或過度運動等方法，以消除暴食引起的發胖</p>
                    <p>3.&nbsp;這種暴食和消除行為每週至少發作1次，且已持續至少三個月（嚴重程度標準）</p>
                    <p>4.&nbsp;自己的體形和體重持續地過分擔心 &nbsp;&nbsp;&nbsp;5.&nbsp;並非只出現於神經性厭食症的發作期間</p>
                </div>
                <p id="line"></p>
                <img src="/food/die.jpg" id="die">
                <p id="line"></p>
                <div class="card border-secondary mb-3" id="detail" style="max-width: 38rem;">
                    <div class="card-header">神經性貪食的併發症</div>
                    <div class="card-body text-secondary">
                        <h5 class="card-title">病患容易併發症而慢性死亡</h5>
                        <p class="card-text">
                            <p>50%的人有電解質異常和脫水</p>
                            <p>25%病人有代謝性堿中毒</p>
                            <p>心律不整、吃到胃破裂等</p>
                        </p>
                    </div>
                </div>
                <p id="line"></p>
                <p>和厭食症相比，貪食症更著重於基因遺傳，所以病患對體重和飲食的偏見很難被所以</p>
                <p>據研究顯示，同卵雙生子患進食障礙的一致率明顯高於異卵雙生子</p>
                <p id="line"></p>


                <p id="line"></p>
                <h4 id="treat">
                    <strong>治療方法</strong>
                </h4>
                <p id="line"></p>
                <p>厭食貪食的治療，除了飲食的控制外，認知干預也是非常重要</p>
                <p>此外，也需教導病患如何面對社會文化對身材的偏見</p>
                <p id="line"></p>

                <blockquote id="title">

                    <h4 id="top">
                        <img src="/food/baby.png" id="baby">十幾歲的孩子面對別人對他體型的攻擊，該如何應對?</h4>
                    <p id="line"></p>
                    <p>若是小男生，肢體上攻擊回去多少會有用，男生天性崇拜強者</p>
                    <p>但若是小女生，打回去是無效的，需主要放心力在觀念的教導</p>
                    <p>這時家庭教育非常重要，當家長聽到孩子抱怨時</p>
                    <p>當下第一步需要先贊同他的感受，再理性分析原因，讓孩子感覺被肯定，培養自信</p>
                    <p>若缺少承認感受，孩子容易產生不平衡感，覺得自己都是錯的，導致更加自卑</p>
                </blockquote>

                <p id="line"></p>
                <p>治療方式主要分成兩種</p>
                <p>1. 藥物治療(住院)</p>
                <p>2. 心理治療</p>
                <p>目的都是先幫患者體重恢復到正常範圍，再運用長期的干預療法，試圖改變其認知</p>

                <p id="line"></p>
                <div class="card" id="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#medicine" class="nav-link active " id="u" role="tab">藥物治療(住院)</a>
                            </li>
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#heart" class="nav-link " id="u" role="tab">心理治療</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="medicine" class="tab-pane fade show active " role="tabpanel">
                            <h5 class="card-title">恢復病患的營養狀況</h5>
                            <p class="card-text">
                                <p>治療各種醫學併發症以防止脫水，電解質紊亂，營養缺乏所致的衰竭與死亡</p>
                                <p>通常有必要住院治療，以監視並糾正病患的行為</p>
                                <blockquote id="ex" class="left">
                                    <p>病患常需要搭配抗抑鬱劑及抗焦慮劑進行治療</p>
                                    <p>若無此併發症幾乎不需要藥物治療</p>
                                </blockquote>
                            </p>
                        </div>

                        <div id="heart" class="tab-pane fade  " role="tabpanel">
                            <h5 class="card-title">心理治療</h5>
                            <p class="card-text">
                                <p>以認知行為治療為主</p>
                                <p>若病患家庭關係不良，小組心理治療也可增加其社會支持力，並協助其調整家庭問題</p>
                                <p>最後，協助病患培養其他興趣，將注意力從體重上轉移</p>
                            </p>
                        </div>

                    </div>
                </div>
                <p id="line"></p>
                <p id="bottom"></p>
                <p>對於厭食貪食症，
                    <strong>預防</strong>永遠比治療重要</p>
                <p>從日常的家庭教育、學校教導、媒體的正確觀念宣傳，都可幫助預防</p>
                <p>導致病患往往沒有自我疾病認知</p>
                <p id="line"></p>
                <p>"我希望未來你們看到我們時，不要嘲笑 、不要憐憫、不要同情，只要告訴我們 — 你現在很美，我喜歡你。"</p>
                <footer class="blockquote-footer ">出自一位厭食症病患</footer>
                <p id="line"></p>
            </div>
            <% include ../layout/scrollbar %>
        </div>

    </div>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
        <% include js %>
</body>

</html>