<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <% include ../layout/header %>
        <title>你只是心生病了</title>
        <link rel="stylesheet" type="text/css" href="/food/style.css" />

</head>

<body data-spy="scroll" data-target="#content" id="text">
    <header>
        <% include ../layout/navbar %>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-2 " id="content">
                <ul class=" nav nav-pills flex-column">

                    <li class="nav-item " id="li" style="padding-top:8vh;">
                        <button>
                            <a class="nav-link" href="#action" id="c">1</a>
                        </button>
                        <a href="#action">
                            <span></span>核心特徵
                        </a>

                    </li>

                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#dsm" id="c">2</a>
                        </button>
                        <a href="#dsm">
                            <span></span>DSM-5診斷
                        </a>
                    </li>
                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#treat" id="c">3</a>
                        </button>
                        <a href="#treat">
                            <span></span>治療方法
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="col-sm-9 col-8" id="content">
                <blockquote id="title" >
                    <h3 id="top">飲食失調症</h3>
                    <p>我覺得自己好胖，根本不敢吃東西，即使吃了就會把它吐出來，為甚麼自己這麼胖?</p>
                </blockquote>
                <p id="line"></p>
                <p>相信我，你一點都不胖，你很瘦了，你應該只是得了厭食症</p>
                <p id="line"></p>
                <h4 id="action">厭食貪食症的核心特徵</h4>
                <p id="line"></p>
                <img src="/food/food.jpg" id="food">
                <p id="line"></p>
                <p>進食障礙中有很多類型，但最普遍的還是神經性厭食及神經性暴食症</p>
                <p id="line"></p>
                <div class="card-deck">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">神經性厭食</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">強烈的擔心自己變胖</li>
                                <li class="list-group-item">即使外界說他瘦都覺得自己很胖</li>
                                <li class="list-group-item">常見於女性，在14-19歲是發病高峰期</li>
                                <li class="list-group-item">常伴隨焦慮、驚恐、強迫症</li>
                            </ul>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">神經性貪食</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">反覆的過量飲食</li>
                                <li class="list-group-item">進食後就不正常的代償行為(催吐)以防止變胖</li>
                                <li class="list-group-item">依照代償行為評估嚴重度</li>
                                <li class="list-group-item">它比神經性厭食更普遍</li>
                            </ul>
                        </div>
                </div>
                <p id="line"></p>
                <p>此外，還有較少見的暴食症</p>
                <p id="line"></p>
                <blockquote id="diagnose">
                    <h5>暴食症</h5>
                    <P>短期內大量進食，幾乎獨自進食，每周至少一次暴食，持續至少3個月</p>
                    <p>和神經性暴食不同，它沒有代償行為(催吐)</p>
                </blockquote>
                <p id="line"></p>
                <p>厭食和貪食症患者都極度在意體重，且厭食症患者有食也會出現貪食狀況</p>
                
                

                <p id="line"></p>


                <h4 id="dsm">厭食貪食症的DSM-5診斷</h4>
                <p id="line"></p>
                <p>神經性厭食期DSM-5診斷標準中的介紹為:</p>

                <p id="line"></p>
                <div id="diagnose">
                    <p>有3點診斷標準</p>
                   
                </div>
                <p id="line"></p>
                <ol id="list">
                    <li>有意識保持體重低於標準體重的最低值</li>
                    <li>即使屬於低體重，仍強烈害怕體重增加或變胖</li>
                    <li>對自己的體重或體型有不正確的自我評價，客觀證據證明體重已低於標準體重，患者仍認為自己太胖</li>
                  
                </ol>
                <p id="line"></p>
                <p>在DSM-5中對於雙向的診斷標準為:</p>
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">雙向I型</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">持續至少1周（若住院治療則任意時長都可)，至少一次符合躁狂發作</li>
                            <li class="list-group-item">患者常交替出現抑鬱和躁狂症狀，每一種症狀都會持續幾周或幾個月</li>
                            <li class="list-group-item">一些患者可能在期間有一段“正常”時期</li>
                            <li class="list-group-item">一些患者在一天之內既有抑鬱又有躁狂的經歷</li>
                            <li class="list-group-item">兒童時期就開始發病了</li>
                        </ul>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">雙向II型</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">以抑鬱為主</li>
                            <li class="list-group-item">至少一次輕躁狂發作，並沒有躁狂</li>
                            <li class="list-group-item">雙相II型不是雙相I型的輕度形式</li>
                            <li class="list-group-item">衝動性突出，自殺風險更高，物質濫用更高</li>
                            <li class="list-group-item">創造力升高</li>
                            <li class="list-group-item">青少年時才會發病</li>
                        </ul>
                    </div>
                </div>


                <p id="line"></p>
                <p>躁鬱症有極高的家族遺傳傾向，在DSM-5中顯示，親屬患病風險是平均普通人的10倍</p>
                <p id="line"></p>
                <div id="diagnose">
                    <h5>雙向II的其他特性</h5>
                    <p>剛開始都是先抑鬱症，直到發生輕躁才被診斷</p>
                    <p>有12%的抑鬱患者有雙向II傾向</p>
                    <p>自殺風險極高，約1/3都有此企圖</p>
                    <p>易共病，鬱期時易有進食障礙，躁期時易有物質使用障礙</p>
                </div>
                <p id="line"></p>
                <h4 id="treat">治療方法</h4>
                <p id="line"></p>
                <p>躁鬱的起因除了遺傳外</p>
                <p>從生物學上，是因為神經元中的電傳導異常</p>
                <p>從精神分析上來看，它是不能接受事件的防禦機制</p>
                <p>躁期和鬱期時都是一樣的，只是鬱期時將焦慮內化，躁期時外化</p>
                <p>從認知上看，因為患者的低自尊和對成功的不切實際要求，產生躁鬱這種防禦機制</p>

                <p id="line"></p>
                <p>治療方式主要分成兩種</p>
                <p>1. 藥物治療</p>
                <p>2. 心理治療</p>

                <p id="line"></p>
                <div class="card" id="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#medicine" class="nav-link active " id="u" role="tab">藥物治療</a>
                            </li>
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#heart" class="nav-link " id="u" role="tab">心理治療</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="medicine" class="tab-pane fade show active " role="tabpanel">
                            <h5 class="card-title">鋰療法</h5>
                            <p class="card-text">

                                <p>對於60%的雙相障礙患者，鋰療一般在5-10天內見效，後仍需繼續服用</p>
                                <p></p>
                                <blockquote id="ex">
                                    <p>但副作用嚴重</p>
                                    <p>初期噁心、嘔吐、腹瀉、疲乏、肌肉無力、肢體顫抖、口乾、多尿等</p>
                                    <p>但常在繼續治療1-2周內逐漸減輕或消失</p>
                                    <p>可是若血液裡含有的濃度過高，會有中毒昏迷的現象，那時就須立即停藥了</p>
                                    <p id="line"></p>
                                </blockquote>
                            </p>
                        </div>

                        <div id="heart" class="tab-pane fade  " role="tabpanel">
                            <h5 class="card-title">精神分析治療</h5>
                            <p class="card-text">
                                <p>以認知行為療法為主</p>
                                <p>主要是用來輔助鋰療法</p>
                                <p>讓患者規律用藥</p>
                                <p>且教導他們有規律的時間應用，學習處理壓力</p>

                            </p>
                        </div>

                    </div>
                </div>
                <p id="line"></p>
                <p id="bottom"></p>
                <p>躁鬱症真的是一種極為難纏的精神疾病</p>
                <p>躁期時的旺盛精力和自信會讓人有種康復的錯覺</p>
                <p>導致病患往往沒有自我疾病認知</p>
                <p id="line"></p>
                <p>所以如果你發現你最近常常情緒大起大落，難以掌控自己</p>
                <p>底下有躁鬱症的自我檢測量表</p>
                <p>藉此看看自己到底是怎麼了</p>
                <p id="line"></p>
                <a href="https://zh.scribd.com/doc/49227628/%E8%BA%81%E9%AC%B1%E7%97%87%E8%87%AA%E6%88%91%E6%AA%A2%E6%B8%AC%E8%A1%A8" class="btn btn-primary">躁鬱症自我檢測表</a>
                <p id="line"></p>
            </div>
            <% include ../layout/scrollbar %>
        </div>

    </div>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
        <% include js %>
</body>

</html>