<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <% include ../layout/header %>
        <title>你只是心生病了</title>
        <link rel="stylesheet" type="text/css" href="/mad/style.css" />

</head>

<body data-spy="scroll" data-target="#content" id="text">
    <header>
        <% include ../layout/navbar %>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-2 " id="content">
                <ul class=" nav nav-pills flex-column">

                    <li class="nav-item " id="li" style="padding-top:8vh;">
                        <button>
                            <a class="nav-link" href="#action" id="c">1</a>
                        </button>
                        <a href="#action">
                            <span></span>核心特徵
                        </a>

                    </li>

                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#dsm" id="c">2</a>
                        </button>
                        <a href="#dsm">
                            <span></span>DSM-5診斷
                        </a>
                    </li>
                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#treat" id="c">3</a>
                        </button>
                        <a href="#treat">
                            <span></span>治療方法
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="col-sm-9 col-8" id="content">
                <blockquote id="title">
                    <h3 id="top">躁鬱症</h3>
                    <p>我有時候會很有精力，那時候覺得自己很厲害想做一堆事</p>
                    <p>但有時候又會突然很自卑，覺得自己甚麼都做不好</p>
                    <P>我是怎麼了?</P>
                </blockquote>
                <p id="line"></p>
                <p>按照你的描述，你的情緒起伏很兩極，若單階段持續超過1周，很有可能有點躁鬱症</p>
                <p id="line"></p>
                <h4 id="action">躁鬱症的核心特徵</h4>
                <p id="line"></p>
                <img src="/mad/crazy.jpg" id="anxiety">
                <p id="line"></p>
                <p>講到躁鬱症，要先從它的"躁"說明起</p>
                <p id="line"></p>
                <blockquote id="diagnose">
                    <h5>躁期的一些特徵</h5>
                    <P>說話快速、緊迫、大聲、難以打斷，喜歡講笑話，而且會有很多手勢</P>
                    <p>過度計畫和參與多種活動，問他原因，他會說覺得很好玩</p>
                    <p>對自己很有自信甚至到自大，有很多妄想</p>
                    <p>睡眠明顯減少，感覺他精力都用不完(核心)</p>
                    <p id="line"></p>
                    <p>若持續3-7天為輕躁狂，一周以上就是躁狂了</p>
                </blockquote>
                <p id="line"></p>
                <p>此外，又可以依照躁期類別將躁鬱分成三種</p>
                <p>雙向I型、雙向II型、環性心境障礙</p>
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">雙向I型</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">病程只要有一次躁狂發作就是</li>
                            <li class="list-group-item">跟家族基因遺傳有密切相關</li>
                        </ul>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">雙向II型</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">至少有一次輕躁和重性抑鬱症</li>
                            <li class="list-group-item">不能有躁狂發作</li>
                            <li class="list-group-item">容易在產後被誘發</li>
                        </ul>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">環性心境障礙</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">上限沒有到輕躁</li>
                            <li class="list-group-item">下限沒有到重度抑鬱症</li>
                            <li class="list-group-item">都在中間忽高忽低</li>
                            <li class="list-group-item">需要治療的時間最長</li>
                        </ul>
                    </div>
                </div>
                <p id="line"></p>
                <p>躁鬱症為慢性疾病，而且50%以上的患者有物質使用障礙(嗜酒等等)</p>
                <p>是5種最嚴重的精神病之一</p>

                <p id="line"></p>


                <h4 id="dsm">躁鬱症的DSM-5診斷</h4>
                <p id="line"></p>
                <p>躁期DSM-5診斷標準中的介紹為:</p>

                <p id="line"></p>
                <div id="diagnose">
                    <p>下列症狀中，至少符合3種</p>
                    <p>時期若大於一周為躁狂</p>
                    <p>3-7天為輕躁狂</p>
                </div>
                <p id="line"></p>
                <ol id="list">
                    <li>自尊心膨脹或誇大（誇大的自尊或浮誇</li>
                    <li>睡眠需要減少</li>
                    <li> 言語增多（比平時健談或持續講話的壓力感）</li>
                    <li>意念飄忽跳躍或思維奔逸</li>
                    <li>注意力分散（隨境轉移）</li>
                    <li>精力充沛（活動性增加或精神運動性激越）</li>
                    <li>行為魯莽，過多地參與冒險活動</li>
                </ol>

                <p id="line"></p>
                <p>在DSM-5中對於雙向的診斷標準為:</p>
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">雙向I型</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">持續至少1周（若住院治療則任意時長都可)，至少一次符合躁狂發作</li>
                            <li class="list-group-item">患者常交替出現抑鬱和躁狂症狀，每一種症狀都會持續幾周或幾個月</li>
                            <li class="list-group-item">一些患者可能在期間有一段“正常”時期</li>
                            <li class="list-group-item">一些患者在一天之內既有抑鬱又有躁狂的經歷</li>
                            <li class="list-group-item">兒童時期就開始發病了</li>
                        </ul>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">雙向II型</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">以抑鬱為主</li>
                            <li class="list-group-item">至少一次輕躁狂發作，並沒有躁狂</li>
                            <li class="list-group-item">雙相II型不是雙相I型的輕度形式</li>
                            <li class="list-group-item">衝動性突出，自殺風險更高，物質濫用更高</li>
                            <li class="list-group-item">創造力升高</li>
                            <li class="list-group-item">青少年時才會發病</li>
                        </ul>
                    </div>
                </div>


                <p id="line"></p>
                <p>躁鬱症有極高的家族遺傳傾向，在DSM-5中顯示，親屬患病風險是平均普通人的10倍</p>
                <p id="line"></p>
                <div id="diagnose">
                    <h5>雙向II的其他特性</h5>
                    <p>剛開始都是先抑鬱症，直到發生輕躁才被診斷</p>
                    <p>有12%的抑鬱患者有雙向II傾向</p>
                    <p>自殺風險極高，約1/3都有此企圖</p>
                    <p>易共病，鬱期時易有進食障礙，躁期時易有物質使用障礙</p>
                </div>
                <p id="line"></p>
                <h4 id="treat">治療方法</h4>
                <p id="line"></p>
                <p>躁鬱的起因除了遺傳外</p>
                <p>從生物學上，是因為神經元中的電傳導異常</p>
                <p>從精神分析上來看，它是不能接受事件的防禦機制</p>
                <p>躁期和鬱期時都是一樣的，只是鬱期時將焦慮內化，躁期時外化</p>
                <p>從認知上看，因為患者的低自尊和對成功的不切實際要求，產生躁鬱這種防禦機制</p>

                <p id="line"></p>
                <p>治療方式主要分成兩種</p>
                <p>1. 藥物治療</p>
                <p>2. 心理治療</p>

                <p id="line"></p>
                <div class="card" id="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#medicine" class="nav-link active " id="u" role="tab">藥物治療</a>
                            </li>
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#heart" class="nav-link " id="u" role="tab">心理治療</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="medicine" class="tab-pane fade show active " role="tabpanel">
                            <h5 class="card-title">鋰療法</h5>
                            <p class="card-text">

                                <p>對於60%的雙相障礙患者，鋰療一般在5-10天內見效，後仍需繼續服用</p>
                                <p></p>
                                <blockquote id="ex">
                                    <p>但副作用嚴重</p>
                                    <p>初期噁心、嘔吐、腹瀉、疲乏、肌肉無力、肢體顫抖、口乾、多尿等</p>
                                    <p>但常在繼續治療1-2周內逐漸減輕或消失</p>
                                    <p>可是若血液裡含有的濃度過高，會有中毒昏迷的現象，那時就須立即停藥了</p>
                                    <p id="line"></p>
                                </blockquote>
                            </p>
                        </div>

                        <div id="heart" class="tab-pane fade  " role="tabpanel">
                            <h5 class="card-title">精神分析治療</h5>
                            <p class="card-text">
                                <p>以認知行為療法為主</p>
                                <p>主要是用來輔助鋰療法</p>
                                <p>讓患者規律用藥</p>
                                <p>且教導他們有規律的時間應用，學習處理壓力</p>
                               
                            </p>
                        </div>

                    </div>
                </div>
                <p id="line"></p>
                <p id="bottom"></p>
                <p>躁鬱症為</p>
                <p>很容易復發，也容易和抑鬱症和物質濫用(嗜酒)併發</p>
                <p>也不太容易自癒</p>
                <p id="line"></p>
                <p>如果你最近常常失眠、肌肉緊繃、心悸、胃痛、反胃，覺得隨時都很害怕很緊張</p>
                <p>可能就要小心自己是否有些焦慮症了</p>
                <p>如果情況你很難受，不要怕去求助就醫</p>
                <p>現代的社會複雜又壓力大，許多人潛在其實都有一定的焦慮症</p>
                <p>以下也提供簡易的焦慮症評量量表</p>
                <p>可以先評估看看自己的程度</p>
                <p id="line"></p>
                <a href="https://zh.scribd.com/doc/49227628/%E8%BA%81%E9%AC%B1%E7%97%87%E8%87%AA%E6%88%91%E6%AA%A2%E6%B8%AC%E8%A1%A8" class="btn btn-primary">躁鬱症自我檢測表</a>
                <p id="line"></p>

            </div>
            <% include ../layout/scrollbar %>
        </div>
    </div>
    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
        <% include js %>
</body>

</html>