
<a href="/" class="fixed-top">
    <img src='logo.png' id="logo">
</a>

<ul class="fixed-top nav nav-pills mb-3 justify-content-center nav-fill" id="tab" role="tablist">

    <li class="nav-item " id="nav-item">
        <a href="/depression" class="nav-link active">抑鬱症</a>
    </li>
    <li class="nav-item" id="nav-item">
        <a href="/anxiety" class="nav-link " id="u">焦慮症</a>
    </li>
    <li class="nav-item" id="nav-item">
        <a href="/mad" class="nav-link " id="u">躁鬱症</a>
    </li>
    <li class="nav-item" id="nav-item">
        <a href="/food" class="nav-link " id="u">飲食失調症</a>
    </li>

</ul>
<style>
    #tab {
        padding-top: 2%;
        padding-left: 10%;
    }

    #u {
        background-color: bisque;
    }

    #u:hover {
        background-color: tan;
    }

    #u .nav-link.active {
        background-color: tan;
    }

    #logo {
        width: 8%;
        height: auto
    }
</style>