<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="navbar">

    <a href="/" class=" navbar-brand">
        <img src='/logo.png' id="logo">
    </a>
    <img src="/logoword.png" id="logoword">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" navbar-nav  ml-auto mr-0">
            <li class="nav-item " id="nav-item">
                <a href="/depression" class="nav-link depression" id="n1">抑鬱症</a>
            </li>
            <li class="nav-item" id="nav-item">
                <a href="/anxiety" class="nav-link anxiety" id="n2">焦慮症</a>
            </li>
            <li class="nav-item" id="nav-item">
                <a href="/mad" class="nav-link mad" id="n3">躁鬱症</a>
            </li>
            <li class="nav-item" id="nav-item">
                <a href="/food" class="nav-link food" id="n4">飲食失調症</a>
            </li>

        </ul>
    </div>
</nav>
<style>
    #navbar {
        background-color: rgba(204, 255, 255, .65);

    }


    .nav-link:hover {
        border-radius: 6px;
        background-color: #FFff99;
    }
    .nav-link.active {
        border-radius: 6px;
        background-color: #FFff99;
    }




    .active {
        border-radius: 6px;
        border-color: black;
        background-color: #FFff99;
        color: #007bff
    }


    #logo {
        border: 0;
        width: 10%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }

    #logo:hover, #logo:active {
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        text-decoration: none;
    }

    #logoword {
        width: 17%;
        height: auto;
        position: fixed;
        margin-left: 3%;

    }
</style>