body{
    position: relative;
}
/*滾輪條*/
html{ height:100%; }
body{ height:300%; }

ul.nav-pills {
    top: 13vh;
    position: fixed;
  }
  div.col-8 div {
    height: 500px;
  }
 #about .child{
  width:10px;
  height:auto;
}
img{
  width:7vh;
}


.page-link{
  
  text-align: center;
}
#percent{
  width:15vh;
  height: 8vh;
  font-size: 5vh;
  display:inline-block;
  text-align: center;
 
}
#scrollall{
  position:fixed;
right:0px;
top:30%;
  float:right;
  height: auto;
  

}
#scrollall ul{
  vertical-align: middle;
  display:table-row;
  
}
#scrollall ul li{
  display:table-row;
 
  vertical-align: middle;
  
}

