<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <% include ../layout/header %>
        <title>你只是心生病了</title>
        <link rel="stylesheet" type="text/css" href="/anxiety/style.css" />

</head>

<body data-spy="scroll" data-target="#content" id="text">
    <header>
        <% include ../layout/navbar %>
    </header>


    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-2 " id="content">
                <ul class=" nav nav-pills flex-column">

                    <li class="nav-item " id="li" style="padding-top:8vh;">
                        <button>
                            <a class="nav-link" href="#action" id="c">1</a>
                        </button>
                        <a href="#action">
                            <span></span>核心特徵
                        </a>

                    </li>

                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#dsm" id="c">2</a>
                        </button>
                        <a href="#dsm">
                            <span></span>DSM-5診斷
                        </a>
                    </li>
                    <li class="nav-item" id="li">
                        <button>
                            <a class="nav-link" href="#treat" id="c">3</a>
                        </button>
                        <a href="#treat">
                            <span></span>治療方法
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="col-sm-9 col-8" id="content">
                <blockquote id="title">
                    <h3 id="top">焦慮症</h3>
                    <p>我只是上台前很容易反胃脹氣，甚至會嘔吐，但不覺得自己過度緊張，這不算焦慮症吧?</p>
                </blockquote>
                <p id="line"></p>
                <p class="center">不好說，但焦慮症分成兩種型態呈現，一種是心理上的焦慮情緒，另一種是生理上強烈反應</p>
                <p id="line"></p>
                <h4 id="action" class="center">焦慮症的核心特徵</h4>
                <p id="line"></p>
                <img src="/anxiety/anxiety.jpg" class="center" id="anxiety">
                <p id="line"></p>
                <p class="center">焦慮分成很多種，對成年人來說大概有4種</p>
                <p id="line"></p>
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">社交焦慮症</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">非常害怕社交環境</li>
                            <li class="list-group-item">很害怕自己的言行使別人對自己產生負面評價</li>
                            <li class="list-group-item">病程需超過6個月</li>

                        </ul>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">驚恐障礙</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">反覆出現不可預期的驚恐</li>
                            <li class="list-group-item">總擔心下一次發作</li>
                            <li class="list-group-item">生活因為它而改變</li>
                            <li class="list-group-item">心悸、出汗、窒息感、頭暈、瀕死感</li>

                        </ul>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">廣泛性焦慮</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">病程至少6個月</li>
                            <li class="list-group-item">過度擔心焦慮</li>
                            <li class="list-group-item">甚麼都擔心，持續時間很長</li>
                            <li class="list-group-item">沒有明確因素就頻繁發生</li>
                            <li class="list-group-item">伴隨身體狀況</li>
                        </ul>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">廣場恐懼症</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">害怕乘坐大眾交通工具</li>
                            <li class="list-group-item">害怕待在開放/密閉空間</li>
                            <li class="list-group-item">害怕排隊或在人群中</li>
                            <li class="list-group-item">害怕獨自離家或離開親密的人</li>
                            <li class="list-group-item">病程需超過6個月</li>

                        </ul>
                    </div>

                </div>
                <p id="line"></p>
                <div id="nervous" class="center">
                    <p>焦慮的主要臨床表現，分為神經(行為)和身體</p>
                    <p>神經(行為)上，緊張、坐立不安、踱步、抖腳等</p>
                    <p>身體上會有臉紅、心悸、出汗、顫抖、胸悶、感覺吸不到空氣等</p>
                </div>
                <p id="line"></p>
                <div class="center">
                    <p>焦慮症的發病與心理、社會因素都有相關</p>
                    <p>患者普遍也都有特定的人格特質</p>
                    <p>且女生又比男生患病率高達1.5-3倍</p>
                </div>
                <p id="line"></p>

                <h4 id="dsm" class="center">廣泛焦慮症的DSM-5診斷</h4>
                <p id="line"></p>
                <p class="center">廣泛焦慮患者在DSM-5診斷標準中須符合的條件為:</p>

                <p id="line"></p>

                <div id="test">
                    <div id="diagnose">

                        <p>個體很難控制焦慮情緒</p>
                        <p>焦慮、擔憂或身體症狀給個體造成明顯的痛苦和傷害</p>
                        <p>症狀持續6個月以上</p>
                        <p>
                            <mark>且下列症狀中，至少符合3種</mark>
                        </p>

                    </div>
                </div>
                <p id="line"></p>
                <div class="center">
                    <p>1.&nbsp;坐立不安或者緊張、急切&nbsp;&nbsp;2.&nbsp;容易疲勞&nbsp;&nbsp;3.&nbsp;難以集中注意力、大腦一片空白</p>
                    <p>4.&nbsp;易激怒&nbsp;&nbsp;&nbsp;5.&nbsp;肌肉緊張&nbsp;&nbsp;&nbsp;6.&nbsp;睡眠障礙</p>

                </div>

                <p id="line"></p>
                <div id="alert">
                    <div id="diagnose">
                        <h4>焦慮並非不好</h4>
                        <p style="color:gray">適當、可以理解、且有原因的焦慮是正常的</p>
                        <p>當人面對危險時，都會產生焦慮的情感反應</p>
                        <p>它是有用的，它可以幫助我們更小心的對危機</p>
                    </div>
                </div>


                <p id="line"></p>
                <div class="center">
                    <h4 id="treat">治療方法</h4>
                    <p id="line"></p>
                    <p>長期的抑鬱症容易產生共病</p>
                    <p>共病的類型包刮驚恐、強迫症、邊緣性人格、神經性厭食暴食等</p>
                    <p>且抑鬱症患者自殺的比例極高</p>
                    <p>所以若可越提早治療會幫助越大</p>
                    <p id="line"></p>
                    <p>治療方式主要分成4種</p>
                    <p>1. 藥物治療 &nbsp; &nbsp; &nbsp;2. 精神分析治療 &nbsp; &nbsp; &nbsp;3. 行為治療 &nbsp; &nbsp; &nbsp;4. 行為+認知治療 </p>
                </div>
                <p id="line"></p>
                <div class="card center" id="card">
                    <div class="card-header ">
                        <ul class="nav nav-tabs card-header-tabs ">
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#medicine" class="nav-link active " id="u" role="tab">藥物治療</a>
                            </li>
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#analysis" class="nav-link " id="u" role="tab">精神分析治療</a>
                            </li>
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#activity" class="nav-link " id="u" role="tab">行為治療</a>
                            </li>
                            <li class="nav-item" id="nav-item_u">
                                <a data-toggle="tab" href="#both" class="nav-link " id="u" role="tab">行為+認知治療</a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content ">
                        <div id="medicine" class="tab-pane fade show active " role="tabpanel">
                            <h5 class="card-title ">抗焦慮藥物</h5>
                            <p class="card-text">
                                <h6>苯二氮卓類</h6>
                                <p>主要目的是安定情緒和解決睡眠障礙</p>
                                <div id="cry" class="left">
                                    <blockquote id="ex" style="position:relative;left:15%">
                                        <p>但副作用嚴重</p>
                                        <p>像是認知機能受損、嗜睡、藥物依賴和抗藥性</p>
                                        <p> 且停藥後易出現抑鬱、復發</p>
                                    </blockquote>
                                </div>
                                <h6>三環抗抑鬱劑和SSRI</h6>
                                <p>相較於苯二氮卓類</p>
                                <p>安全性更高，且療效更顯著</p>
                                <p id="line"></p>
                                <div id="warning" class="left">
                                    <blockquote id="ex" style="position:relative;left:15%">
                                        <p>但純藥物治療的患者，復發率是所有治療方法中最高的</p>
                                    </blockquote>
                                </div>
                            </p>

                        </div>

                        <div id="analysis" class="tab-pane fade  " role="tabpanel">
                            <h5 class="card-title">精神分析治療</h5>
                            <p class="card-text">
                                <p>透過回顧個案的人際關係和人生經驗</p>
                                <p>以及個案在治療中可能出現的移情或阻抗舉動</p>
                                <p>來分析是甚麼造就了個案焦慮</p>
                                <blockquote class="left" id="ex">
                                    <p>關注童年是不是有未處理好的衝突</p>
                                </blockquote>
                            </p>
                        </div>


                        <div id="activity" class="tab-pane fade  " role="tabpanel">
                            <h5 class="card-title">行為治療</h5>
                            <p class="card-text">
                                <p>引導個案重複進行會讓他們焦慮的事件</p>
                                <p>透過一次次得到的到正面回饋</p>
                                <p>讓個案了解這事件和他們想的負面結果沒有一定關係</p>
                                <p>藉此消除過度的恐懼、焦慮</p>
                            </p>
                            <blockquote id="ex" class="left">
                                <p>個案往往高估了害怕和負面結果的強度，低估自己的應對能力</p>
                            </blockquote>
                            <p>廣泛性焦慮患者一開多是特定焦慮聚焦於特定領域，因處理不好，最後才泛化</p>
                            <p>所以可以藉此找出焦慮的主因</p>
                            </p>
                        </div>


                        <div id="both" class="tab-pane fade  " role="tabpanel">
                            <p class="card-text">
                                <blockquote id="ex" class="left">
                                    <h5>三步驟</h5>
                                    <p>1.放鬆練習</p>
                                    <p>2.對引發焦慮的思維進行認知重構</p>
                                    <p>3.行為上進行焦慮暴露任務</p>

                                </blockquote>

                                <h5>調整自律神經的自律訓練法</h5>
                                <p id="line"></p>
                                <p>想像手腳特別重的感覺</p>
                                <p>想像肌肉很放鬆，血液迴圈順暢，直到手腳漸漸地變得暖暖的</p>
                                <p>想像心臟有規律地跳動著</p>
                                <p>想像呼吸十分順暢</p>
                                <p>想像腹部感覺特別的溫暖</p>
                                <p>想像額頭很清涼</p>
                                <p id="line"></p>
                                <p>這時你應該感覺沒那麼焦慮了</p>
                                </blockquote>

                                <p id="line"></p>

                            </p>

                        </div>

                    </div>
                </div>
                <div class="center">
                    <p id="line"></p>
                    <p id="bottom"></p>
                    <p>焦慮症為一種慢性疾病</p>
                    <p>很容易復發，也容易和抑鬱症和物質濫用(嗜酒)併發</p>
                    <p>也不太容易自癒</p>
                    <p id="line"></p>
                    <p>如果你最近常常失眠、肌肉緊繃、心悸、胃痛、反胃，覺得隨時都很害怕很緊張</p>
                    <p>可能就要小心自己是否有些焦慮症了</p>
                    <p>如果情況你很難受，不要怕去求助就醫</p>
                    <p>現代的社會複雜又壓力大，許多人潛在其實都有一定的焦慮症</p>
                    <p>以下也提供簡易的焦慮症評量量表</p>
                    <p>可以先評估看看自己的程度</p>
                    <p id="line"></p>
                    <a href="https://ideapit.com/test/ouip" class="btn btn-primary">伯恩斯焦慮量表</a>
                    <p id="line"></p>
                </div>

            </div>
            <% include ../layout/scrollbar %>

        </div>
    </div>

    <footer>
        <% include ../layout/footer %>
    </footer>
    <% include ../layout/js %>
        <% include js %>
</body>

</html>